/* Fonts */
@font-face {
	font-family: 'azonix';
	src: url('../src/Assets/Azonix-1VB0.otf');
}
@font-face {
	font-family: 'portico-outline';
	src: url('../src/Assets/Portico\ Outline.otf');
}
@font-face {
	font-family: 'acquire';
	src: url('../src/Assets/AquireLight-YzE0o.otf');
}
@font-face {
	font-family: 'trench';
	src: url('../src/Assets/TrenchThin-16R0.otf');
}
@font-face {
	font-family: 'goodtiming';
	src: url('../src/Assets/good\ timing\ bd.ttf');
}
/* General Styling */
html body {
	margin: 0;
	font-family: 'goodtiming', sans-serif;
	height: 100vh;
	width: 100vw;
	background-color: #222;
	color: #ffd700;
}
a {
	text-decoration: none;
	color: #ffd700;
}
.app {
	display: flex;
	position: relative;
}
/* Nav Component Styling */
.nav-wrapper {
	display: flex;
	flex-direction: column;
}
.horizontal-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #111;
	align-items: center;
}
.header-wrapper {
	font-family: 'acquire';
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 15px;
	margin-left: 30px;
	z-index: 1000;
}
.name-span {
	opacity: 1;
	font-size: 1.3em;
}
.title-span {
	opacity: 1;
	font-size: 0.7em;
}
.hamburger {
	background-color: transparent;
	border: 0;
}
.hb-wrapper {
	display: flex;
	flex-direction: column;
	width: 30px;
	margin: 20px;
	opacity: 1;
}
.line-wrap {
	display: flex;
}
.hb-line {
	background-color: #ffd700;
	width: 16px;
	height: 5px;
	margin-bottom: 4px;
	border: none;
}
.hb-top-left {
	transition: transform 0.2s;
}
.hb-top-left-change {
	transform: rotate(45deg) translateX(3px) scaleX(1.1);
	transition: transform 0.2s;
}
.hb-top-right {
	transition: transform 0.2s;
}
.hb-top-right-change {
	transform: rotate(-45deg) translateX(-3px) scaleX(1.1);
	transition: transform 0.2s;
}
.hb-middle-left {
	transform: scaleY(1);
	transition: transform 0.2s;
}
.hb-middle-left-change {
	transform: scaleY(0) translateX(-20px);
	transition: transform 0.2s;
}
.hb-middle-right {
	transform: scaleY(1);
	transition: transform 0.2s;
}
.hb-middle-right-change {
	transform: scaleY(0) translateX(20px);
	transition: transform 0.2s;
}
.hb-bottom-left {
	transition: transform 0.2s;
}
.hb-bottom-left-change {
	transform: rotate(-45deg) translateX(3px) scaleX(1.1);
	transition: transform 0.2s;
}
.hb-bottom-right {
	transition: transform 0.2s;
}
.hb-bottom-right-change {
	transform: rotate(45deg) translateX(-3px) scaleX(1.1);
	transition: transform 0.2s;
}
.menu {
	background-color: #333;
	position: absolute;
	right: 1%;
	top: 6.8%;
	z-index: 1000;
}
.show-menu {
	opacity: 1;
	transform: scaleY(1);
	transform-origin: top center;
	transition: opacity 0.3s, height 0.3s, transform 0.3s;
	box-shadow: 3px 3px #111;
	border-radius: 5px;
}
.closed-menu {
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top center;
	transition: opacity 0.3s, height 0.3s, transform 0.3s;
	transition-delay: 0.5s;
	box-shadow: 3px 3px #111;
	border-radius: 5px;
}
.link-list {
	margin: 15px;
	padding: 10px;
}
.navlink {
	text-align: right;
	list-style: none;
	font-size: larger;
	padding: 0;
	display: flex;
	align-items: center;
	width: 175px;
}
.navlink img {
	flex-basis: 10%;
}
.navlink p {
	flex-basis: 90%;
}

.link-one {
	opacity: 1;
	transform: scaleX(1);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.3s;
}
.link-two {
	opacity: 1;
	transform: scaleX(1);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.4s;
}
.link-three {
	opacity: 1;
	transform: scaleX(1);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.5s;
}
.link-four {
	opacity: 1;
	transform: scaleX(1);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.6s;
}
.hidden-nav-link-one {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.4s;
}
.hidden-nav-link-two {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.2s;
}
.hidden-nav-link-three {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
	transition-delay: 0.1s;
}
.hidden-nav-link-four {
	opacity: 0;
	transform: scaleX(0);
	transform-origin: right center;
	transition: opacity 0.3s, width 0.3s, transform 0.3s;
}
/* About Component Styling */
.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em;
}
.about-p {
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
}
.p-wrapper {
	display: flex;
	justify-content: center;
}
.gold-one {
	width: 1px;
	background-color: gold;
	animation: glow 10s linear infinite;
}
.gold-two {
	height: 1px;
	width: 50%;
	background-color: gold;
	animation: glow 10s linear infinite;
}
.outer-container {
	display: flex;
	justify-content: center;
	z-index: -1;
}
.tofu {
	display: none;
}
/* Welcome Component Styling */
.loader-container {
	display: flex;
	height: 70vh;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.loader-div {
	position: absolute;
	width: 90px;
	height: 51px;
}
.loader-div:nth-of-type(2) {
	transform: rotate(60deg);
}
.loader-div:nth-of-type(3) {
	transform: rotate(-60deg);
}
.loader-div-inner {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
}
.loader-span {
	position: absolute;
	width: 3px;
	height: 0%;
	background-color: #ffd700;
	z-index: 999;
}
.h1 {
	left: 0;
	animation: load1 1.8s linear 1 forwards;
}
.h2 {
	right: 0;
	animation: load2 1.8s linear 0.2s 1 forwards;
}
.h3 {
	right: 0;
	animation: load3 1.8s linear 0.4s 1 forwards;
}
.h4 {
	right: 0;
	animation: load4 1.8s linear 0.6s 1 forwards;
}
.h5 {
	left: 0;
	animation: load5 1.8s linear 0.8s 1 forwards;
}
.h6 {
	left: 0;
	animation: load6 1.8s linear 1.2s 1 forwards;
}
.k {
	opacity: 1;
	color: #ffd700;
	font-size: 0.9em;
	position: absolute;
	z-index: 1;
}
.kcenter {
	opacity: 1;
	z-index: 10;
}
.flexcontainer-one-open {
	opacity: 1;
	transform: translateY(-102px) translateX(-88px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.1s;
	z-index: 1;
}
.flexcontainer-two-open {
	opacity: 1;
	transform: translateY(-102px) translateX(1px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.2s;
	z-index: 2;
}
.flexcontainer-three-open {
	opacity: 1;
	transform: translateY(-25px) translateX(45px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.3s;
	z-index: 3;
}
.flexcontainer-four-open {
	opacity: 1;
	transform: translateY(49px) translateX(1px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.4s;
	z-index: 4;
}
.flexcontainer-five-open {
	opacity: 1;
	transform: translateY(49px) translateX(-88px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.5s;
	z-index: 5;
}
.flexcontainer-six-open {
	opacity: 1;
	transform: translateY(-25px) translateX(-133px);
	transition: transform 1s, opacity 1s;
	transition-delay: 0.6s;
	z-index: 6;
}
.flexcontainer-one-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.1s;
}
.flexcontainer-two-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.2s;
}
.flexcontainer-three-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.3s;
}
.flexcontainer-four-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.4s;
}
.flexcontainer-five-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.5s;
}
.flexcontainer-six-closed {
	opacity: 0;
	transform: translateY(-25px) translateX(-44px);
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.6s;
}
.k {
	font-family: 'acquire', sans-serif;
}
.link {
	text-align: center;
}
.link:hover {
	animation: textglow 3s ease infinite forwards;
}
.ks {
	font-family: 'acquire', sans-serif;
	font-size: 2em;
	text-shadow: 0px 0px 0px gold;
	animation: textglow 3s ease infinite forwards;
	cursor: pointer;
}
.radial-links {
	opacity: 1;
}
.k1 {
	transform: translateX(-67px) translateY(-98px);
	transition: opacity 1s;
	transition-delay: 1.1s;
	z-index: 2;
}
.k2 {
	transform: translateX(12px) translateY(-98px);
	transition: opacity 1s;
	transition-delay: 1.2s;
	z-index: 3;
}
.k3 {
	transform: translateX(62px) translateY(-20px);
	transition: opacity 1s;
	transition-delay: 1.3s;
	z-index: 4;
}
.k4 {
	transform: translateX(20px) translateY(55px);
	transition: opacity 1s;
	transition-delay: 1.4s;
	z-index: 5;
}
.k5 {
	transform: translateX(-71px) translateY(55px);
	transition: opacity 1s;
	transition-delay: 1.5s;
	z-index: 6;
}
.k6 {
	transform: translateX(-117px) translateY(-20px);
	transition: opacity 1s;
	transition-delay: 1.6s;
	z-index: 7;
}
.k1-hidden {
	transform: translateX(-67px) translateY(-98px);
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 2;
}
.k2-hidden {
	transform: translateX(12px) translateY(-98px);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.1s;
	z-index: 3;
}
.k3-hidden {
	transform: translateX(62px) translateY(-20px);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.2s;
	z-index: 4;
}
.k4-hidden {
	transform: translateX(20px) translateY(55px);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.3s;
	z-index: 5;
}
.k5-hidden {
	transform: translateX(-71px) translateY(55px);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.4s;
	z-index: 6;
}
.k6-hidden {
	transform: translateX(-117px) translateY(-20px);
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.5s;
	z-index: 7;
}
.k p:hover {
	animation: textglow 1.5s linear infinite;
}
.pointer {
	display: flex;
	flex-direction: column;
	opacity: 0;
	animation: fadein 15s ease 2s 1 forwards;
	align-items: center;
	position: absolute;
	width: 140px;
}
.nopointer {
	opacity: 0;
	display: flex;
	position: absolute;
	width: 140px;
}
.arrow {
	border: solid #ffd700;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-135deg);
	opacity: 1;
	transition: opacity 0.5s;
	transition-delay: 1s;
	animation: bounceup 3s ease infinite forwards;
}
.noarrow {
	opacity: 0;
	transition: opacity 1.5s;
	transition-delay: 1s;
}
.click {
	animation: textglow 3s ease infinite forwards;
	font-size: 1.2em;
	transform: translateY(110px);
}
.p-wrapper {
	font-size: 0.78em;
	margin-top: 0;
	padding: 0;
}
.skills {
	font-size: 0.78em;
	text-align: center;
	width: 100vw;
}
.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.skills-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	align-items: center;
	clear: left;
}
.icon {
	height: 30px;
	width: 30px;
}
.projects-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.project-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	border-right: 1px solid gold;
	border-left: 1px solid gold;
	width: 90%;
}
.project-preview {
	max-width: 80%;
}
.projects-wrapper p {
	width: 60%;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.contacts-outer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 3em;
}
.contact-blurb {
	text-align: center;
}
.contact-container {
	display: flex;
	margin-top: 1em;
}
.contact-container img {
	height: 100px;
}
.container-details {
	display: flex;
	justify-content: center;
	text-align: left;
}
.contact-details p {
	font-size: 0.95em;
}
.hidden {
	opacity: 0;
	transition: opacity 1s;
}
/* Animation Keyframes */
@keyframes load1 {
	0% {
		bottom: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes load2 {
	0% {
		top: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes load3 {
	0% {
		top: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes load4 {
	0% {
		top: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes load5 {
	0% {
		bottom: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes load6 {
	0% {
		bottom: 0;
		height: 0;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	10% {
		bottom: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
	100% {
		top: 0;
		height: 100%;
		box-shadow: 0px 0px 5px 1px #ffd700;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
		text-shadow: 0px 10px 5px #ffd700, 0px -10px 5px, 10px 0px 5px,
			-10px 0px 5px;
	}
	30% {
		opacity: 1;
		text-shadow: 0px 0px 5px #ffd700;
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 0px gold;
	}
}
@keyframes glow {
	0% {
		box-shadow: 0 0 0px gold;
	}
	50% {
		box-shadow: 0 0 20px gold;
	}
	100% {
		box-shadow: 0 0 0px gold;
	}
}
@keyframes textglow {
	0% {
		text-shadow: 0px 0px 0px gold;
	}
	50% {
		text-shadow: 0px 0px 5px gold;
	}
	100% {
		text-shadow: 0px 0px 0px gold;
	}
}
@keyframes bounceup {
	0%{
		transform: translateY(125px) rotate(-135deg) scaleX(2) scaleY(2); box-shadow: 1px 1px gold; opacity: 1;
	}
	50%{
		transform: translateY(115px) rotate(-135deg) scaleX(2.3) scaleY(2.3); box-shadow: 2px 2px gold; opacity: 0.7;
	}
	100%{
		transform: translateY(125px) rotate(-135deg) scaleX(2) scaleY(2); box-shadow: 1px 1px gold; opacity: 1;
	}
}
@keyframes bounceleft {
	0%{
		transform: translateX(145px) rotate(135deg) scaleX(2) scaleY(2); box-shadow: 1px 1px gold; opacity: 1;
	}
	50%{
		transform: translateX(135px) rotate(135deg) scaleX(2.3) scaleY(2.3); box-shadow: 2px 2px gold; opacity: 0.7;
	}
	100%{
		transform: translateX(145px) rotate(135deg) scaleX(2) scaleY(2); box-shadow: 1px 1px gold; opacity: 1;
	}
}
@media only screen and (min-width: 760px) {
	.tofu {
		display: block;
		width: 30%;
		margin-bottom: 10px;
		animation: glow 3s ease infinite forwards;
	}
	.pointer {
		display: flex;
		opacity: 0;
		animation: fadein 15s ease 2s 1 forwards;
		align-items: center;
		position: absolute;
		width: 140px;
	}
		.nopointer {
		opacity: 0;
		display: flex;
		position: absolute;
		width: 140px;
	}
	.arrow {
		border: solid #ffd700;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(135deg);
		opacity: 1;
		transition: opacity 0.5s;
		transition-delay: 1s;
		animation: bounceleft 3s ease infinite forwards;
	}
	.noarrow {
		opacity: 0;
		transition: opacity 1.5s;
		transition-delay: 1s;
	}
	.click {
		transform: translateX(150px);
		animation: textglow 3s ease infinite forwards;
		font-size: 1.2em;
	}
}