@font-face {
  font-family: 'azonix';
  src: url('../src/Assets/Azonix-1VB0.otf');
}
html body {
	margin: 0;
	font-family: 'azonix', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  color: #FFD700;
}
a {
  text-decoration: none;
}
.app {
  display: flex;
  position: relative;
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
}
.horizontal-wrapper {
	display: flex;
	justify-content: space-between;
  background-color: #111;
}
.header-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
  justify-content: center;
  margin: 15px;
  margin-left: 30px;
}
.name-span {
  opacity: 0;
	font-size: 1.3em;
  color: #FFD700;
  animation: fadein 1s ease 3.2s forwards
}
.title-span {
  opacity: 0;
  font-size: 0.7em;
  color: #FFD700;
  animation: fadein 1s ease 3.5s forwards
}
.hamburger {
  color: #FFD700;
  background-color: transparent;
  border: 0;
}
.hb-wrapper {
  display: flex;
  flex-direction: column;
  width: 30px;
  margin: 30px;
  opacity: 0;
  animation: fadein 1s ease 3.8s forwards;
}
.hb-line {
  background-color: #FFD700;
  width: 30px;
  height: 5px;
  margin: 3px;
}
.hb-top {
  animation: top-return 0.5s ease forwards;
}
.hb-top-change {
  animation: top-change 0.5s ease forwards;
}
.hb-middle {
  animation: fadein 1s ease forwards;
}
.hb-middle-change {
  animation: fadeout 0.5s ease forwards;
}
.hb-bottom {
  animation: bottom-return 0.5s ease forwards;
}
.hb-bottom-change {
  animation: bottom-change 0.5s ease forwards;
}
.menu {
  background-color: #333;
  color: #FFD700;
  position: absolute;
  right: 5px;
  top: 10%;
  z-index: 1;
}
.show-menu {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top center;
  transition: opacity 0.3s, height 0.3s, transform 0.3s;
  box-shadow: 3px 3px #111;
  border-radius: 5px;
}
.closed-menu{
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: opacity 0.3s, height 0.3s, transform 0.3s;
  transition-delay: 0.5s;
  box-shadow: 3px 3px #111;
  border-radius: 5px;
}
.link-list {
  margin: 15px;
}
.navlink {
  text-align: right;
  list-style: none;
  color: #FFD700;
  font-size: larger;
  padding: 15px;
}
.link-one {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.3s;
}
.link-two {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.4s;
}
.link-three {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.5s;
}
.link-four {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.6s;
}
.hidden-nav-link-one {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.4s;
}
.hidden-nav-link-two {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.2s;
}
.hidden-nav-link-three {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
  transition-delay: 0.1s;
}
.hidden-nav-link-four {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: opacity 0.3s, width 0.3s, transform 0.3s;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.about-p {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
}
.p-wrapper {
  display: flex;
  justify-content: center;
}
.gold-one {
  width: 1px;
  background-color: gold;
  animation: glow 3s ease infinite;
}
.gold-two {
  height: 1px;
  width: 50%;
  background-color: gold;
  animation: glow 3s ease infinite;
}
.outer-container{
  display: flex;
  justify-content: center;
  z-index: -1;
}
.loader-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.loader-div {
  position: absolute;
  width: 90px;
  height: 51px;
}
.loader-div:nth-of-type(2) {
  transform: rotate(60deg);
}
.loader-div:nth-of-type(3) {
  transform: rotate(-60deg);
}
.loader-div-inner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.loader-span {
  position: absolute;
  width: 3px;
  height: 0%;
  background-color: #FFD700;
  z-index: 999999;
}
.h1 {
  left: 0;
  animation: load1 1.8s linear 1 forwards;
}
.h2 {
  right: 0;
  animation: load2 1.8s linear .2s 1 forwards;
}
.h3 {
  right: 0;
  animation: load3 1.8s linear .4s 1 forwards;
}
.h4 {
  right: 0;
  animation: load4 1.8s linear .6s 1 forwards;
}
.h5 {
  left: 0;
  animation: load5 1.8s linear .8s 1 forwards;
}
.h6 {
  left: 0;
  animation: load6 1.8s linear 1.2s 1 forwards;
}
.k {
  opacity: 0;
  animation: fadein 1.8s ease 1.4s 1 forwards;
  color: #FFD700;
  font-size: 1em;
  position: absolute;
  z-index: 1
}
.flexcontainer-one {
  /* top left */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateY(-102px) translateX(-88px); */
  animation: slideout-one 1s ease 3.1s 1 forwards;
}
.flexcontainer-two {
  /* top right */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateY(-102px) */
  animation: slideout-two 1s ease 3.2s 1 forwards;
}
.flexcontainer-three {
  /* right */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateX(44px) translateY(-25px); */
  animation: slideout-three 1s ease 3.3s 1 forwards;
}
.flexcontainer-four {
  /* bottom right */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateY(52px) */
  animation: slideout-four 1s ease 3.4s 1 forwards;
}
.flexcontainer-five {
  /* bottom left */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateY(52px) translateX(-88px) */
  animation: slideout-five 1s ease 3.5s 1 forwards;
}
.flexcontainer-six {
  /* left */
  opacity: 0;
  transform: translateY(-25px) translateX(-44px);
  /* transform: translateX(-132px) translateY(-25px); */
  animation: slideout-six 1s ease 3.6s 1 forwards;
}
.k1 {
  transform: translateX(-44px) translateY(-74px);
  animation: fadein 1s ease 3.6s forwards
}
.k2 {
  transform: translateX(44px) translateY(-74px);
  animation: fadein 1s ease 3.7s forwards
}
.k3 {
  transform: translateX(88px);
  animation: fadein 1s ease 3.8s forwards
}
.k4 {
  transform: translateX(44px) translateY(78px);
  animation: fadein 1s ease 3.9s forwards;
  z-index: 1
}
.k5 {
  transform: translateX(-44px) translateY(78px);
  animation: fadein 1s ease 4.0s forwards
}
.k6 {
  transform: translateX(-88px);
  animation: fadein 1s ease 4.1s 1 forwards
}
.fade {
  animation: fadeout 1s ease 2.5s 1 forwards;
}
.link {
  text-align: center;
  font-size: 0.7em;
}
.k p{
  text-shadow: 0px 0px 1px gold;
}
.k p:hover{
  animation: textglow 1.5s linear infinite;
}
@keyframes load1 {
  0%{bottom:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes load2 {
  0%{top:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes load3 {
  0%{top:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes load4 {
  0%{top:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes load5 {
  0%{bottom:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes load6 {
  0%{bottom:0;height:0;box-shadow: 0px 0px 5px 1px #FFD700}
  10%{bottom:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
  100%{top:0;height:100%;box-shadow: 0px 0px 5px 1px #FFD700}
}

@keyframes fadein {
  0%{opacity:0;text-shadow: 0px 10px 5px #FFD700, 0px -10px 5px, 10px 0px 5px, -10px 0px 5px}
  30%{opacity:1;text-shadow: 0px 0px 5px #FFD700}
  100%{opacity:1;text-shadow: 0px 0px 0px}
}

@keyframes fadeout {
  0%{opacity:1}
  100%{opacity:0}
}

@keyframes top-change {
  0%{}
  100%{transform: rotate(45deg) translate(5px, 10px)}
}

@keyframes top-return {
  0%{transform: rotate(45deg) translate(5px, 10px)}
  100%{}
}

@keyframes bottom-change {
  0%{}
  100%{transform: rotate(-45deg) translate(5px, -10px)}
}

@keyframes bottom-return {
  0%{transform: rotate(-45deg) translate(5px, -10px)}
  100%{}
}
:root {
  --animation-time: 2s;
}
@keyframes glow {
  0%{box-shadow: 0 0 9px gold;}
  50%{box-shadow: 0 0 18px gold;}
  100%{box-shadow: 0 0 9px gold;}
}
@keyframes slideout-one {
  0%{transform: translateY(-25px) translateX(-44px); opacity: 0}
  100%{transform: translateY(-102px) translateX(-88px); opacity: 1}
}
@keyframes slideout-two {
  0%{transform: translateY(-25px) translateX(-44px);opacity: 0}
  100%{transform: translateY(-102px); opacity: 1}
}
@keyframes slideout-three {
  0%{transform: translateY(-25px) translateX(-44px);opacity: 0}
  100%{transform: translateX(44px) translateY(-25px); opacity: 1}
}
@keyframes slideout-four {
  0%{transform: translateY(-25px) translateX(-44px);opacity: 0}
  100%{transform: translateY(52px); opacity: 1}
}
@keyframes slideout-five {
  0%{transform: translateY(-25px) translateX(-44px);opacity: 0}
  100%{transform: translateY(52px) translateX(-88px); opacity: 1}
}
@keyframes slideout-six {
  0%{transform: translateY(-25px) translateX(-44px);opacity: 0}
  100%{transform: translateX(-132px) translateY(-25px); opacity: 1}
}
@keyframes textglow {
  0%{text-shadow: 0px 0px 1px gold;}
  100%{text-shadow: 0px 0px 45px gold;}
}